*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family:Arial,"Microsoft YaHei","微软雅黑",sans-serif;
}
html,
body {
  color: #000;
  word-break:break-all;
  background: #f6f6f6;
  height:100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}
button{
  color: #000;
  cursor: pointer;
  background: transparent;
}
button[disabled="disabled"] {
  cursor: not-allowed;
}
ul {
  list-style: none;
}
h1,h2,h3,h4,h5{
  font-weight: inherit
}